.card{
    text-align: center;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    height: 120px;
    background-color: lightcoral;

}